extends layout

block content
    meta(name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" )
    link(rel='stylesheet', href='/stylesheets/container-style.css')

    div.container
        div.row
            form.form-inline
                div.form-group
                    button.btn.btn-primary.has-margin(id='addCard' type='button') 添加卡种
                    button.btn.btn-primary(id='changeCard' type='button') 修改卡种

        div.row
            div.table-responsive.col-md-12
                table.table.table-hover
                    thead
                    tr
                        td 选择
                        td 卡名
                        td 次数
                        td 有效天数
                        td 卡种类型
                    tbody(id='cardListTable')

    div.modal.fade(tabindex="-1" role="dialog" id='cardModal')
        div.modal-dialog(role='document')
            div.modal-content
                div.modal-header
                    h4.modal-title(id="cardTitle")
                div.modal-body
                    form.form-horizontal(role="form")
                        div.form-group
                            label.col-sm-2.control-label(for="cardName") 卡名
                            div.col-sm-10
                                input.form-control.card-info(id="cardName")

                        div.form-group
                            label.col-sm-2.control-label(for="cardCount") 有效次数
                            div.col-sm-10
                                input.form-control.card-info(id="cardCount" type="number")

                        div.form-group
                            label.col-sm-2.control-label(for="cardValidity") 有效天数
                            div.col-sm-10
                                input.form-control.card-info(id="cardValidity" type="number")

                        div.form-group
                            label.col-sm-2.control-label(for="cardType") 卡种类型
                            div.col-sm-10
                                select.form-control(id="cardType")
                                    option(value="1") 次卡或年卡
                                    option(value="2") 孕妇卡
                                    option(value="3") 产后卡

                div.modal-footer
                    button.btn.btn-primary(id="createBtn")
                    button.btn.btn-default(data-dismiss="modal") 返回

    script(type='text/javascript', src='/js/cardType.js')