doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type='text/javascript', src='/lib/jquery/jquery.min.js')
        script(type='text/javascript', src='/lib/bootstrap/dist/js/bootstrap.js')
    body
        div.layout-container
            div.topbar
                nav.navbar.navbar-inverse.navbar-fixed-top
                    div.container-fluid
                        div.navbar-header
                            a.navbar-brand
                                strong miuYoga后台管理
                        div.collapse.navbar-collapse
            div.menu-content
                ul.menu-list(id="menuList")

        div.modal.fade.bs-example-modal-sm(role="dialog" aria-labelledby="mySmallModalLabel" id='noticeModal')
            div.modal-dialog.modal-sm(role='document')
                div.modal-content
                    div.modal-header
                        h4.modal-title 提示
                    div.modal-body
                        p(id="message")
                    div.modal-footer
                        button.btn.btn-default(data-dismiss="modal") 返回

        block content


    script(type='text/javascript', src='/js/layout.js')