extends layout

block content
    meta(name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" )
    link(rel='stylesheet', href='/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css')
    link(rel='stylesheet', href='/stylesheets/container-style.css')

    div.container
        div.row

    script(type='text/javascript', src='/js/noticeInfo.js')