extends layout

block content
    meta(name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" )
    link(rel='stylesheet', href='/stylesheets/container-style.css')
    link(rel='stylesheet', href='/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css')
    link(rel='stylesheet', href='/stylesheets/user-list.css')

    div.container
        div.row
            form.form-inline
                div.form-group
                    select.form-control.form-control-width.has-margin.select-classroom-detail(id='createRoom')
                        option(value="") 请选择建卡教室
                    select.form-control.form-control-width.has-margin.select-classroom-detail(id='isEffective')
                        option(value="") 是否失效
                        option(value="1") 是
                        option(value="0") 否
                    input.form-control.form-control-width.has-margin(placeholder='请输入会员姓名或卡号' id='searchInfo')
                    input.form-control.form-control-width.time.has-margin(placeholder='失效日期' id='lastTime')
                    button.btn.btn-primary.has-margin(id='search' type='button') 查询
                    button.btn.btn-primary.has-margin(id='newMember' type='button') 新建会员
                    button.btn.btn-primary.has-margin(id='gift' type='button') 次数赠送
                    button.btn.btn-primary.has-margin(id='update' type='button') 续卡
                    button.btn.btn-primary.has-margin(id='cardUpdate' type='button') 卡种升级
                    button.btn.btn-primary(id='addBodyInfo' type='button') 添加体侧信息

        div.row
            div.table-responsive.col-md-12
                table.table.table-hover
                    thead
                    tr
                        td 选择
                        td.order-td 会员姓名
                            ul.order-ul
                                li.order-li
                                    input(type="radio" name="orderRadio" value="customerName" data-value="desc")
                                    span 升序
                                li.order-li
                                    input(type="radio" name="orderRadio" value="customerName" data-value="asc")
                                    span 降序
                        td.order-td 联系电话
                            ul.order-ul
                                li.order-li
                                    input(type="radio" name="orderRadio" value="username" data-value="desc")
                                    span 升序
                                li.order-li
                                    input(type="radio" name="orderRadio" value="username" data-value="asc")
                                    span 降序
                        td.order-td 办卡教室
                            ul.order-ul
                                li.order-li
                                    input(type="radio" name="orderRadio" value="createRoom" data-value="desc")
                                    span 升序
                                li.order-li
                                    input(type="radio" name="orderRadio" value="createRoom" data-value="asc")
                                    span 降序
                        td.order-td 卡种类型
                            ul.order-ul
                                li.order-li
                                    input(type="radio" name="orderRadio" value="cardType" data-value="desc")
                                    span 升序
                                li.order-li
                                    input(type="radio" name="orderRadio" value="cardType" data-value="asc")
                                    span 降序
                        td.order-td 创建时间
                            ul.order-ul
                                li.order-li
                                    input(type="radio" name="orderRadio" value="createTime" data-value="desc")
                                    span 升序
                                li.order-li
                                    input(type="radio" name="orderRadio" value="createTime" data-value="asc")
                                    span 降序
                        td.order-td 开卡时间
                            ul.order-ul
                                li.order-li
                                    input(type="radio" name="orderRadio" value="openTime" data-value="desc")
                                    span 升序
                                li.order-li
                                    input(type="radio" name="orderRadio" value="openTime" data-value="asc")
                                    span 降序
                        td.order-td 截止时间
                            ul.order-ul
                                li.order-li
                                    input(type="radio" name="orderRadio" value="lastTime" data-value="desc")
                                    span 升序
                                li.order-li
                                    input(type="radio" name="orderRadio" value="lastTime" data-value="asc")
                                    span 降序
                        td.order-td 总次数
                            ul.order-ul
                                li.order-li
                                    input(type="radio" name="orderRadio" value="totalCount" data-value="desc")
                                    span 升序
                                li.order-li
                                    input(type="radio" name="orderRadio" value="totalCount" data-value="asc")
                                    span 降序
                        td.order-td 剩余次数
                            ul.order-ul
                                li.order-li
                                    input(type="radio" name="orderRadio" value="lastCount" data-value="desc")
                                    span 升序
                                li.order-li
                                    input(type="radio" name="orderRadio" value="lastCount" data-value="asc")
                                    span 降序
                        td 上课详情
                        td 体侧信息
                    tbody(id='userListTable')

    div.modal.fade(tabindex="-1" role="dialog" id='classDetailModal')
        div.modal-dialog(role='document')
            div.modal-content
                div.modal-header
                    h4.modal-title 约课详情
                div.modal-body
                    table.table.table-bordered
                        thead
                        tr
                            td 时间
                            td 课程
                            td 状态

                        tbody(id='classDetailTable')
                div.modal-footer
                    button.btn.btn-default(data-dismiss="modal") 返回

    div.modal.fade(tabindex="-1" role="dialog" id='createMemberModal')
        div.modal-dialog(role='document')
            div.modal-content
                div.modal-header
                    h4.modal-title 新建会员
                div.modal-body
                    form.form-horizontal(role="form")
                        div.form-group
                            label.col-sm-2.control-label(for="customerName") 姓名
                            div.col-sm-10
                                input.form-control(id="customerName")

                        div.form-group
                            label.col-sm-2.control-label(for="username") 联系方式
                            div.col-sm-10
                                input.form-control(id="username" type="number")

                        div.form-group
                            label.col-sm-2.control-label(for="cardType") 卡种类型
                            div.col-sm-10
                                select.form-control(id="cardType")

                        div.form-group
                            label.col-sm-2.control-label(for="classRoom") 办卡教室
                            div.col-sm-10
                                select.form-control(id="classRoom")

                        div.form-group
                            label.col-sm-2.control-label(for="saler") 售卡人员
                            div.col-sm-10
                                select.form-control(id="saler")
                div.modal-footer
                    button.btn.btn-primary(id="createBtn") 确认发卡
                    button.btn.btn-default(data-dismiss="modal") 返回

    div.modal.fade(tabindex="-1" role="dialog" id='giftModal')
        div.modal-dialog(role='document')
            div.modal-content
                div.modal-header
                    h4.modal-title 约课详情
                div.modal-body
                    form.form-horizontal(role="form")
                        div.form-group
                            label.col-sm-2.control-label(for="customerName") 赠送次数
                            div.col-sm-10
                                input.form-control.gift-info(id="giftNumber" type="number")

                        div.form-group
                            label.col-sm-2.control-label(for="giftReamrk") 备注
                            div.col-sm-10
                                textarea.form-control.gift-info(id="giftReamrk" style="resize: none")

                div.modal-footer
                    button.btn.btn-primary(id="giftBtn") 确认赠送
                    button.btn.btn-default(data-dismiss="modal") 返回

    div.modal.fade(tabindex="-1" role="dialog" id='changeCardModal')
        div.modal-dialog(role='document')
            div.modal-content
                div.modal-header
                    h4.modal-title 修改会员信息
                div.modal-body
                    form.form-horizontal(role="form")
                        div.form-group
                            label.col-sm-2.control-label(for="name") 会员姓名
                            div.col-sm-10
                                input.form-control.change-info(id="name" disabled)

                        div.form-group
                            label.col-sm-2.control-label(for="changeCardType") 卡种类型
                            div.col-sm-10
                                select.form-control(id="changeCardType")

                        div.form-group
                            label.col-sm-2.control-label(for="changeLastTime") 失效时间
                            div.col-sm-10
                                input.form-control.time.change-info(id="changeLastTime")

                        div.form-group
                            label.col-sm-2.control-label(for="remark") 备注
                            div.col-sm-10
                                textarea.form-control.change-info(id="remark" style="resize: none")

                div.modal-footer
                    button.btn.btn-primary(id="changeBtn") 确认修改
                    button.btn.btn-default(data-dismiss="modal") 返回

    div.modal.fade(tabindex="-1" role="dialog" id='addBodyInfoModal')
        div.modal-dialog(role='document')
            div.modal-content
                div.modal-header
                    h4.modal-title 添加体侧信息
                div.modal-body
                    form.form-horizontal(role="form")
                        div.form-group
                            label.col-sm-3.control-label(for="weight") 体重（KG）
                            div.col-sm-9
                                input.form-control.require(id="weight" type="number")

                        div.form-group
                            label.col-sm-3.control-label(for="fatPercentage") 体内脂肪含量(%)
                            div.col-sm-9
                                input.form-control.require(id="fatPercentage" type="number")

                        div.form-group
                            label.col-sm-3.control-label(for="water") 身体水分(%)
                            div.col-sm-9
                                input.form-control.require(id="water" type="number")

                        div.form-group
                            label.col-sm-3.control-label(for="metabolism") 基础代谢
                            div.col-sm-9
                                input.form-control.require(id="metabolism" type="number")

                        div.form-group
                            label.col-sm-3.control-label(for="hasletFat") 内脏脂肪(KG)
                            div.col-sm-9
                                input.form-control.require(id="hasletFat" type="number")

                        div.form-group
                            label.col-sm-3.control-label(for="hasletFat") 内脏脂肪指数
                            div.col-sm-9
                                input.form-control.require(id="hasletFatIndex" type="number")

                        div.form-group
                            label.col-sm-3.control-label(for="bodyAge") 身体年龄
                            div.col-sm-9
                                input.form-control.require(id="bodyAge" type="number")

                        div.form-group
                            label.col-sm-3.control-label(for="bottomBust") 下胸围(CM)
                            div.col-sm-9
                                input.form-control.require(id="bottomBust" type="number")

                        div.form-group
                            label.col-sm-3.control-label(for="waist") 腰围
                            div.col-sm-9
                                input.form-control.require(id="waist" type="number")

                        div.form-group
                            label.col-sm-3.control-label(for="butt") 臀围
                            div.col-sm-9
                                input.form-control.require(id="butt" type="number")

                        div.form-group
                            label.col-sm-3.control-label(for="thigh") 大腿围
                            div.col-sm-9
                                input.form-control.require(id="thigh" type="number")

                div.modal-footer
                    button.btn.btn-primary(id="addBodyInfoBtn") 确认添加
                    button.btn.btn-default(data-dismiss="modal") 返回

    div.modal.fade(tabindex="-1" role="dialog" id='userBodyInfo')
        div.modal-dialog(role='document')
            div.modal-content
                div.modal-header
                    h4.modal-title 体侧信息
                div.modal-body
                    table.table.table-bordered
                        thead
                        tr
                            td 时间
                            td 课程
                            td 状态

                        tbody(id='classDetailTable')
                div.modal-footer
                    button.btn.btn-default(data-dismiss="modal") 返回

    script(type='text/javascript', src='/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js')
    script(type='text/javascript', src='/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.zh-CN.js')
    script(type='text/javascript', src='/js/userList.js')