extends layout

block content
    meta(name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" )
    link(rel='stylesheet', href='/stylesheets/container-style.css')
    link(rel='stylesheet', href='/stylesheets/user-list.css')
    link(rel='stylesheet', href='/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css')

    div.container
        div.row
            form.form-inline
                div.form-group
                    input.form-control.has-margin(placeholder='请输入会员姓名或卡号' id='searchInfo')
                    input.form-control.time.has-margin(placeholder='失效日期' id='lastTime')
                    button.btn.btn-primary.has-margin(id='search' type='button') 查询
                    button.btn.btn-primary.has-margin(id='newMember' type='button') 新建会员
                    button.btn.btn-primary.has-margin(id='gift' type='button') 次数赠送
                    button.btn.btn-primary.has-margin(id='update' type='button') 续卡（卡种更改）

        div.row
            div.table-responsive.col-md-12
                table.table.table-hover
                    thead
                    tr
                        td 选择
                        td 会员姓名
                        td 联系电话
                        td 办卡教室
                        td 卡种类型
                        td 创建时间
                        td 开卡时间
                        td 截止时间
                        td 总次数
                        td 剩余次数
                        td 上课详情
                    tbody(id='userListTable')

    div.modal.fade(tabindex="-1" role="dialog" id='classDetailModal')
        div.modal-dialog(role='document')
            div.modal-content
                div.modal-header
                    h4.modal-title 约课详情
                div.modal-body
                    table.table.table-bordered
                        thead
                        tr
                            td 时间
                            td 课程
                            td 状态

                        tbody(id='classDetailTable')
                div.modal-footer
                    button.btn.btn-default(data-dismiss="modal") 返回

    div.modal.fade(tabindex="-1" role="dialog" id='createMemberModal')
        div.modal-dialog(role='document')
            div.modal-content
                div.modal-header
                    h4.modal-title 新建会员
                div.modal-body
                    form.form-horizontal(role="form")
                        div.form-group
                            label.col-sm-2.control-label(for="customerName") 姓名
                            div.col-sm-10
                                input.form-control(id="customerName")

                        div.form-group
                            label.col-sm-2.control-label(for="username") 联系方式
                            div.col-sm-10
                                input.form-control(id="username" type="number")

                        div.form-group
                            label.col-sm-2.control-label(for="cardType") 卡种类型
                            div.col-sm-10
                                select.form-control(id="cardType")

                        div.form-group
                            label.col-sm-2.control-label(for="classRoom") 办卡教室
                            div.col-sm-10
                                select.form-control(id="classRoom")

                        div.form-group
                            label.col-sm-2.control-label(for="saler") 售卡人员
                            div.col-sm-10
                                select.form-control(id="saler")
                div.modal-footer
                    button.btn.btn-primary(id="createBtn") 确认发卡
                    button.btn.btn-default(data-dismiss="modal") 返回

    div.modal.fade(tabindex="-1" role="dialog" id='giftModal')
        div.modal-dialog(role='document')
            div.modal-content
                div.modal-header
                    h4.modal-title 约课详情
                div.modal-body
                    form.form-horizontal(role="form")
                        div.form-group
                            label.col-sm-2.control-label(for="customerName") 赠送次数
                            div.col-sm-10
                                input.form-control.gift-info(id="giftNumber" type="number")

                        div.form-group
                            label.col-sm-2.control-label(for="giftReamrk") 备注
                            div.col-sm-10
                                textarea.form-control.gift-info(id="giftReamrk" style="resize: none")

                div.modal-footer
                    button.btn.btn-primary(id="giftBtn") 确认赠送
                    button.btn.btn-default(data-dismiss="modal") 返回

    div.modal.fade(tabindex="-1" role="dialog" id='changeCardModal')
        div.modal-dialog(role='document')
            div.modal-content
                div.modal-header
                    h4.modal-title 修改会员信息
                div.modal-body
                    form.form-horizontal(role="form")
                        div.form-group
                            label.col-sm-2.control-label(for="name") 会员姓名
                            div.col-sm-10
                                input.form-control.change-info(id="name" disabled)

                        div.form-group
                            label.col-sm-2.control-label(for="changeCardType") 卡种类型
                            div.col-sm-10
                                select.form-control(id="changeCardType")

                        div.form-group
                            label.col-sm-2.control-label(for="changeLastTime") 失效时间
                            div.col-sm-10
                                input.form-control.time.change-info(id="changeLastTime")

                        div.form-group
                            label.col-sm-2.control-label(for="remark") 备注
                            div.col-sm-10
                                textarea.form-control.change-info(id="remark" style="resize: none")

                div.modal-footer
                    button.btn.btn-primary(id="changeBtn") 确认修改
                    button.btn.btn-default(data-dismiss="modal") 返回

    script(type='text/javascript', src='/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js')
    script(type='text/javascript', src='/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.zh-CN.js')
    script(type='text/javascript', src='/js/userList.js')