.mui-plus header.mui-bar {
    display: none;
}

.mui-plus .mui-bar-nav ~ .mui-content {
    padding: 0;
}

/*hm开头的表示仅为 Hello MUI示例定义*/
.hm-description {
    margin: .5em 0;
}

.hm-description > li {
    font-size: 14px;
    color: #8f8f94;
}
/**/
.mui-btn {
    font-size: 16px;
    padding: 8px;
    margin: 3px;
}

h5.mui-content-padded {
    margin-left: 3px;
    margin-top: 20px !important;
}

h5.mui-content-padded:first-child {
    margin-top: 12px !important;
}

.ui-alert {
    text-align: center;
    padding: 20px 10px;
    font-size: 16px;
}