extends layout

block content
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no")
    link(rel='stylesheet', href='/js/mui/css/mui.picker.min.css')
    link(rel='stylesheet', href='/stylesheets/user-info.css')

    header.mui-bar.mui-bar-nav
        a.mui-icon.mui-action-menu.mui-icon-bars.mui-pull-left(href='#offCanvasSide' style='color: #52B297')
        h1.mui-title 上课记录

    div.mui-content.mui-scroll-wrapper(id='offCanvasContentScroll')
        div.mui-scroll

    div.mui-off-canvas-backdrop