doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/js/mui/css/mui.css')

        script(type='text/javascript', src='/lib/jquery/dist/jquery.js')
        //
          script(type='text/javascript', src='/js/mui/js/mui.js')
        script(type='text/javascript', src='/js/mui/js/mui.min.js')

    body
        div.mui-off-canvas-wrap.mui-draggable(id='offCanvasWrapper')
            aside.mui-off-canvas-left(id='offCanvasSide')
                div.mui-scroll-wrapper(id='offCanvasSideScroll')
                    div.mui-scroll
                        div.title
                            div.content 欢迎使用Miuyoga会员约课系统
                            ul.mui-table-view.mui-table-view-chevron.mui-table-view-inverted
                                li.mui-table-view-cell
                                    a.mui-navigate-right(href='/time-table') 我要约课
                                li.mui-table-view-cell
                                    a.mui-navigate-right(href='/class-record') 课程记录
                                li.mui-table-view-cell
                                    a.mui-navigate-right(href='/user-info') 我的资料
            div.mui-inner-wrap
                block content
            //
                div.mui-off-canvas-backdrop

    script(type='text/javascript', src='/js/layout.js')