extends layout

block content
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no")
    link(rel='stylesheet', href='/js/mui/css/mui.picker.min.css')
    link(rel='stylesheet', href='/stylesheets/user-info.css')

    header.mui-bar.mui-bar-nav
        a.mui-icon.mui-action-menu.mui-icon-bars.mui-pull-left(href='#offCanvasSide' style='color: #52B297')
        h1.mui-title 个人中心

    div.mui-content.mui-scroll-wrapper(id='offCanvasContentScroll')
        div.mui-scroll
            div.user-info
                div.user-info-row
                    p.user-info-title 用户名
                    p.user-info-detail(id='username')
                div.user-info-row
                    p.user-info-title 卡种类型
                    p.user-info-detail(id='cardType')
                div.user-info-row
                    p.user-info-title 剩余次数
                    p.user-info-detail(id='lastCount')
                div.user-info-row(style='border-bottom: none')
                    p.user-info-title 截止日期
                    p.user-info-detail(id='lastTime')

    div.mui-off-canvas-backdrop

    script(type='text/javascript', src='/js/userInfo.js')