body {
    padding: 50px 0px 20px 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.header-content {
    padding: 0 20px;
}

a {
    color: #00B7FF;
}

.mui-media-body {
    width: 60%;
    display: inline-block;
}

.li-odd {
    background: #eee;
}

.time-info {
    font-size: 20px;
    font-weight: 800;
}

.title {
    margin-top: 0.45em;
    margin-bottom: 0.2em;
    font-size: 0.9rem;
    font-weight: bold;
}