body {
    padding: 50px 0px 20px 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.header-content {
    padding: 0 20px;
}

a {
    color: #00B7FF;
}

.mui-media-body {
    width: 66%;
    display: inline-block;
}

.li-odd {
    background: #f9f9f9;
}
