.mui-plus header.mui-bar {
    display: none;
}

.mui-plus .mui-bar-nav ~ .mui-content {
    padding: 0;
}

/*hm开头的表示仅为 Hello MUI示例定义*/
.hm-description {
    margin: .5em 0;
}

.hm-description > li {
    font-size: 14px;
    color: #8f8f94;
}

/**/
.mui-btn {
    font-size: 16px;
    /*padding: 8px;*/
    margin: 3px;
}

h5.mui-content-padded {
    margin-left: 3px;
    margin-top: 20px !important;
}

h5.mui-content-padded:first-child {
    margin-top: 12px !important;
}

.ui-alert {
    text-align: center;
    padding: 20px 10px;
    font-size: 16px;
}

#showClassroomPicker {
    background: -webkit-linear-gradient(#FFF, #CECECE); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#FFF, #CECECE); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#FFF, #CECECE); /* Firefox 3.6 - 15 */
    background: linear-gradient(#FFF, #CECECE); /* 标准的语法 */
}

.date-tab {
    width: 100%;
    height: 60px;
    padding: 0 10px;
}

.date-tab-li {
    list-style: none;
    width: 50px;
    height: 50px;
    border: solid 1px #C1C1C1;
    border-radius: 3px;
    display: inline-block;
    font-size: 13px;
    text-align: center;
    margin-right: 10px;
}

.active {
    color: #fff;
    border: 1px solid #52B297;
    background-color: #52B297;
}

tbody {
    border-top: 1px solid #ddd;
}

td {
    vertical-align: middle;
    padding: 10px 2px;
    border-bottom: 1px solid #ddd;
}

.schedule-table {
    width: 100%;
}

.schedule-tr {
    width: 100%;
}

.schedule-odd-row {
    background: #F9F9F9;
}

.schedule-double-row {
    background: #FCFCFC;
}

.schedule-first-col {
    width: 23%;
}

.schedule-third-col {
    width: 22%;
}

.schedule-second-col {
    width: 55%;
}

.info {
    margin-top: 0.1em;
    margin-bottom: 0.4em;
    font-weight: 300;
    color: #2e2e2e;
    font-size: 0.8rem;
}

.title {
    color: #53b196;
}

.time {
    font-size: 20px;
    font-weight: 800;
    color: #000000;
    margin: 10px 0;
    text-align: center;
}

.teacher {
    color: #efa236;
}

.class-btn {
    color: #fff;
    background-color: #53b196;
    border-color: #53b196;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    white-space: nowrap;
}

.class-btn:active {
    color: #fff;
    background-color: #398972;
    border-color: #47c75c;
}

.prompt {
    padding: 5px 15px;
    font-family: "微软雅黑";
    margin-top: 15px;
}

.prompt-title {
    text-align: center;
}

.prompt-info {
    font-size: 14px !important;
    margin-bottom: 5px !important;
    font-weight: 200;
}

.has-no-class {
    height: 66px;
    line-height: 66px;
    text-align: center;
    font-size: 15px;
}

.stop-class {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.loading {
    border: 0;
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-style: normal;
}

.mask-transparent {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.toast {
    position: fixed;
    z-index: 50000;
    width: 7.6em;
    min-height: 7.6em;
    top: 180px;
    left: 50%;
    margin-left: -3.8em;
    background: rgba(40, 40, 40, .75);
    text-align: center;
    border-radius: 5px;
    color: #fff;
}

.toast-content {
    margin-top: 10px;
    font-size: 14px;
    color: #e6e6e6;
}

.spinner {
    height: 60px;
    margin-top: 10px;
    padding: 5px;
}

.spinner > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
    margin-left: 5px;
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
    }
}

.spinner .rect2 {
    animation-delay: -1.1s;
}

.spinner .rect3 {
    animation-delay: -1.0s;
}

.spinner .rect4 {
    animation-delay: -0.9s;
}

.spinner .rect5 {
    animation-delay: -0.8s;
}
